*{ margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Lato', sans-serif; 
font-family: 'Montserrat', sans-serif}


body{margin-top: 5.5rem;}

/* NAV BAR */
.nav__bar{position: fixed; top:0; width: 100%; padding-right:2%; opacity: 0.97; z-index: 1;}
.nav__list{display: flex; flex-direction: row; margin-right: 2%;}
.nav__list__deco{height: auto; width: auto; border-radius: 48px; background-color: #441f01;font-size: 77%;box-shadow:2px 2px 1px #adabad;}
.button{transition-duration: 0.8s;}
.button:hover{background-color: #115733; border-radius: 48px;}
.nav__item {display: inline-block; justify-content:center; }

/* MAIN HERO SECTION */
 .main__hero{display: flex; flex-direction: column; align-items: center; background-color:#000000; max-width: 1292px;}
 .main__titular {color:whitesmoke; font-weight: 400;
 letter-spacing: .6em; font-size:230%; margin-top:5%; text-shadow:1px 1px 36px  #ffffff; position: absolute; text-align: center;}
 .main__video{ width: 145vh; margin-top: 4rem; object-fit: cover;}
 .main__copy{position: absolute; color: #f5f5f5; font-family:'Lato';color:whitesmoke;font-weight: 300; text-align: center; bottom: 2%; text-shadow:1px 1px 29px  #ffffff; font-size: 125% ;}

 /* NOSOTROS SECTION */

 .nosotros__layout{display: flex; flex-direction: column;  background-image:url(../../img/manos_tierra.jpg); background-position:center;background-repeat:no-repeat; background-size:cover; height:110vh;} 
 .nosotros__titular{letter-spacing: 1rem; color: rgb(236, 229, 229); font-size: 150%; margin-top:7rem; text-align: center;text-shadow:1px 1px 10px  #121212;} 
 .nosotros__titular2{display:inline-block; letter-spacing:0.6rem; margin-top: 0.3rem; text-align: center; color:rgb(245, 238, 238); font-size: 160%; text-shadow:1px 1px 9px  #e7dede;}
 .nosotros__container{overflow: hidden; margin:auto;}
 .nosotros__videobox{margin: 3rem; border-radius: 48px; width: 45%; height: 76%; overflow: hidden;}
 .nosotros__video{object-fit:cover;}
 .nosotros__parrafo{margin-top: 3rem; border-radius: 48px; width: 45%;height: 79%;} 
 .nosotros__parrafo >p{font-size: 100%; font-family: 'lato'; color: #e3e0e0; text-shadow: 1px 1px 3px #030303; text-align:center ; padding: 1rem; background-color: rgba(228, 209, 209, 0.1); border-radius: 48px; font-weight: 200;backdrop-filter: blur(20px) saturate(180%)}

 /* PRODUCTOS  */
.video__left {display:inline; float: left;}
.video__center {display:inline; float:center; margin-left: 2rem}
.video__right {display:inline; float:right}
.subtitles{display:block; font-size:1.7rem; font-weight: 300; letter-spacing: .07rem; text-align: center; margin-bottom: 1rem;}
.box__settings{display: inline-block;
    box-sizing: content-box;
    width: 16%; padding-left: 2%; margin-bottom: 2%;}
.style__pimentones{padding-left: 6rem;font-family: 'Lato';}
.style__remolacha{font-family: 'Lato'; padding-left: 1rem;}
.style__zanahorias{font-family: 'Lato'; padding-left: 6rem;}
.style__tomates{font-family: 'Lato'; padding-left: 4rem;}
.minus__margin{margin-left: -4.5rem;}
.more__margin{margin-left: 5rem;}

/* DONDE  */
.centrar__canasta{margin-left: 3rem;}
.frame__markets{box-sizing: content-box;
    width: 100%;height: 120px;background-color: #01793C}
.box__settings__donde{display: inline-block;
        box-sizing: content-box;
        width: 24.5%; position:relative; padding-left: 2%; margin-bottom: 2%;}

.thumbnail { 
    display:block; 
    z-index:999; 
    cursor: pointer;
    transition-property:all;
    transition-duration: 0.3s;
    transition-timing-function: ease ; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease;} 
    
.thumbnail:hover { 
    transform: scale(1.06);}

/* CONTACTO  */
.caja__form {box-sizing: content-box;
width: 50%;
padding: 5px;
background-color: #D5C0AB; display: inline-block;}

/* back to top btn */
.back__top {position: sticky;bottom: 20px;margin-right: 10px;place-self: end; text-decoration: none;padding: 13px;font-family: 'Lato'; color:whitesmoke;background: #475b74;border-radius: 55px; margin-left: 95%; opacity:0.6;}
.back__top:hover{ background-color: whitesmoke; color:#475b74;}

/* MEDIA QUERIES */
@media screen and (min-width:1400px) and (max-width:2560px)
{.main__hero{max-width: 100%;}
}
/* 1024 */
@media screen and (min-width:998px) and (max-width:1025px)
{
.main__hero{max-width:1036px;}
.main__copy{font-size: 110%;}
}
/* Breakpoint rango 768px */
@media screen and (min-width:700px) and (max-width:769px)
{
.main__hero{max-width: 780px;}
.main__titular{ font-size: 180%;}
.main__copy{font-size:1rem; margin-bottom: 2%;}
.main__video{ width: 145vh; margin-top: 10%; padding-top: 5%;}
.nosotros__titular{ font-size: 100%; letter-spacing: 0.4rem;}
.nosotros__titular2{font-size: 130%;}
.nosotros__videobox{margin: 1rem; width: 45%; height: 80%;}
.nosotros__parrafo{margin-top: 1rem; width: 47%;height: 0%; margin-left: 2rem;}
.nosotros__parrafo >p{font-size: 1rem;}
} 

/* rango 425px */
@media screen and (min-width:400px) and (max-width:426px)
{
.main__hero{max-width: 437px;}
.main__titular{ font-size: 110%; margin-top: 4rem;}
.main__copy{font-size:1rem; margin-bottom: 0%;}
.main__video{ height: 92vh; margin-top: 0; padding-top: 5%;}
.nosotros__titular{font-size: 79%; letter-spacing: 0.4rem; margin-top: 1rem; letter-spacing: 0.4rem;}
.nosotros__titular2{font-size: 80%; letter-spacing: 0.3rem;}
.nosotros__videobox{display: none;}
.nosotros__parrafo{width: 90%;height: 70vh; margin-top: 0%; margin-left: 5%;}
.nosotros__layout{display: grid; flex-direction: column;   background-image:url(../../img/manos_tierra.jpg); background-position:center;background-repeat:no-repeat; background-size:cover; height:100vh;}
.nosotros__container{display: flex; flex-direction: column;}
.back__top {margin-left: 90%;padding: 10;}
}
/* Rango 320px */
@media screen and (min-width:300px) and (max-width:325px)
{
.main__hero{max-width: 332px;}
.main__titular{ font-size: 120%; margin-top: 4rem;}
.main__copy{font-size:0.9rem; margin-bottom: 0%;}
.main__video{ height: 88vh; margin-top: 0; padding-top: 5%;}
.nosotros__titular{font-size: 70%; margin-top: 1rem; letter-spacing: 0.1rem;}
.nosotros__titular2{font-size: 60%; letter-spacing: 0.1rem; margin-top:0rem;}
.nosotros__videobox{ display:none; margin: 1rem; width: 90%; height:25vh; border-radius: 3%;}
.nosotros__parrafo{width: 90%;height: 70vh; margin-top: 0%; margin-left: 5%;}
.nosotros__parrafo >p{font-size: 1rem; padding: 0%; font-weight: 100;}
.nosotros__layout{display: grid; flex-direction: column;   background-image:url(../../img/manos_tierra.jpg); background-position:center;background-repeat:no-repeat; background-size:cover; height:80vh;}
.nosotros__container{display: flex; flex-direction: column;}
.back__top {margin-left: 80%;padding: 10;}
}